button{
    background-color: yellow;
    border:2px solid;
    border-radius: 8px;
    color: #12314d;
    font-size:18px;
    font-weight: 700;
    padding:10px;
}

#uglyRandom {
    margin-top: 5vh;
    background-color:#38569E;
    color:white;
    border:none;
}